@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @apply bg-light;
}

body {
  overscroll-behavior: none;
}

@layer components {
  .shadow {
    box-shadow: 4px 4px 10px #00000010;
  }

  .accent-font {
    font-family: "Anek Kannada", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
  }

  .plain-font {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  .plain-bold-font {
    @apply plain-font font-bold leading-[36px] text-[24px];
  }

  .descriptor-font {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    line-height: 16px;
  }

  .bold-transition {
    @apply transition-all hover:font-bold;
  }

  .link-text {
    @apply plain-font bold-transition;
  }

  .text-button {
    @apply plain-font text-red transition-all cursor-pointer hover:text-red-hovered;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .button {
    @apply plain-font font-bold inline-flex px-[30px] py-[10px] bg-red rounded-[5px] text-light transition-all hover:bg-red-hovered;
  }

  .tab {
    @apply px-[30px] py-[10px] plain-font bg-gray rounded-[26px] data-[active]:bg-dark transition-all duration-500 data-[active]:text-light hover:bg-red-hovered hover:text-light;
  }

  .card {
    @apply p-6 bg-white rounded-[16px]  border border-gray transition-shadow duration-500 hover:shadow;
  }
  .input {
    @apply block p-4 min-w-[340px] rounded-[5px] border border-gray placeholder:text-gray;
  }

  .dial-icon {
    @apply fill-red h-8 w-8 transition-transform hover:scale-105;
  }

  .asterisk {
    @apply after:content-['*'] after:text-red after:ml-1;
  }

  .dashboard__button {
    @apply text-white inline-flex items-center bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:bg-blue-300;
  }

  .dashboard__button__outlined {
    @apply text-blue-500 inline-flex items-center focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center border border-blue-500;
  }

  .dashboard__button-accept {
    @apply text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 disabled:bg-green-300;
  }

  .dashboard__button-decline {
    @apply text-white inline-flex items-center bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800 disabled:bg-rose-300;
  }

  .dashboard__input {
    @apply bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5;
  }
}
